{% extends 'shared/layout_sn.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/editaluno.css' %}">
{% endblock %}

{% block titulo %}
<title>Edição de Aluno</title>
{% endblock %}

{% block conteudo %}
<img class="painelctrl" src="/static/img/escola/editaraluno.png" alt="">
<a href="/portaldaescola">
    <img class="back_pnl" src="/static/img/escola/testeback.png">
</a>

<div class="edicao_aluno">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="divedit">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input class="bt_cadal" type="submit" value="Salvar">
    </form>
</div>

{% endblock %}