{% extends 'shared/layout_sn.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/editpoint.css' %}">
{% endblock %}

{% block titulo %}
<title>Atribuição de Pontos</title>
{% endblock %}

{% block conteudo %}

<div class="d_white">
    <a href="/pontuacao"><img class="back_pt" src="/static/img/escola/testeback.png" alt=""></a>
    <div class="edicao_aluno">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="divedit">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <input class="bt_cadal" type="submit" value="Atribuir">
        </form>
    </div>
</div>

{% endblock %}