{% extends 'shared/layout_sn.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pagepoint.css' %}">
{% endblock %}

{% block titulo %}
<title>Alunos</title>
{% endblock %}

{% block conteudo %}
<div class="hd_pagepoint">
    <img class="img_pagepoint" src="/static/img/escola/buscadealunos.png" alt="">
    
    <div>
        <form class="buscador" method="post">
            {% csrf_token %}
            <select name="turma_aluno" class="select_turma">
                <option value="5ª Série">5ª Série</option>
                <option value="6ª Série">6ª Série</option>
                <option value="7ª Série">7ª Série</option>
                <option value="8ª Série">8ª Série</option>
                <option value="1º Ano">1º Ano</option>
                <option value="2º Ano">2º Ano</option>
                <option value="3º Ano">3º Ano</option>
            </select>
            <input class="buscar_aluno" type="submit" value="Buscar">
        </form>
    </div>
</div>
    
<div class="alunos">
    {% for aluno in alunos %}
    <div class="aluno">
        <p class="for_aluno">{{aluno.nome_aluno}} {{aluno.sobrenome_aluno}}</p>
        <div class="row_ptstar">
            <p class="pts">Pontos: {{aluno.pontuacao_aluno}}</p>
            <a class="a_pontos" href="/atribuirpontos/{{aluno.id}}"><img class="pt_aluno" src="/static/img/escola/star.png"></a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}